@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-display bg-babyPink text-slate-800;
}

.btn-primary {
  @apply px-4 py-2 rounded-full bg-primary text-white font-semibold shadow-md hover:bg-pink-500 transition;
}


